body {
	margin:0;
	
     background-image: url("en_tete.jpg") center center fixed no-repeat;
	 background-size:cover;
	    
}

a{
	display: block;
	width: 135px;
	height: 35px;
	background: #838383;
	color: #00Fb2f;
	font-size: 14px;
	line-height: 35px;
	text-decoration: none;
	padding-left: 15px;
}

a:hover{background: yellow;}

h1 {    border: 3px white groove; }
div { border: 3px red; }
